body {
	margin: 0;
	background-color: #313131;
}
/* Header Component*/
.header {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 10rem;
	background-color: #313131;
	border-bottom: 0.2rem solid #ec625f;
}
.search-bar {
	width: 34%;
}
.sign-in {
	display: flex;
	flex-direction: row;
	width: 33%;
	justify-content: flex-end;
}
.sign-in button {
	border: none;
	background-color: #ec625f;
	color: #fff;
	font-weight: bold;
	font-size: 1rem;
	margin-right: 2rem;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	padding: 1rem 2rem;
	border-radius: 0.5rem;
}
.logo {
	width: 33%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 2rem;
}
.logo img {
	height: auto;
	width: 50%;
}
/* Search bar Component*/
.search-bar-input {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.search-bar-input input {
	border: 0.2rem solid #ec625f;
	border-right: none;
	padding: 5px;
	width: 60%;
	height: 1.5rem;
	border-radius: 5px 0 0 5px;
	outline: none;
}
.search-bar-input button {
	width: 3rem;
	height: 2.5rem;
	border: 1px solid #ec625f;
	background: #ec625f;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}
