/* font-family: 'Lekton', sans-serif;
font-family: 'Special Elite', cursive; */

#root {
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: #313131;
	min-height: 100vh;
}

p,
a,
li,
strong,
span,
label {
  font-family: "Lekton", sans-serif;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: "Special Elite";
}

div {
	color: white;
}
.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.flex {
	display: flex;
	flex-direction: row;
}

.dark {
  color: black;
}

.space {
  justify-content: space-between;
}
/* Home Page */
.home {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.page-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 60%;
}
.home-welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #ec625f;
	margin-top: auto;
}

/* grey container box */
.flex-space {
  margin: 2rem;
  background-color: #515151;
  border-radius: 0.5rem;
  padding: 2rem;
}

/* MyFamilies component*/

.my-families {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 20%;
	height: 100%;
	background-color: #414141;
	margin-top: 2rem;
	margin-left: 2rem;
	border-radius: 1rem;
}
.my-families h3 {
  text-align: center;
  font-size: 1.5rem;
  color: whitesmoke;
  border-bottom: 0.2rem solid #ec625f;
  padding: 1rem;
}
.my-families ul {
  list-style-type: upper-roman;
  font-size: 1rem;
  
}
.my-families li {
  margin-bottom: 1rem;
  margin-left: 1rem;
  color: whitesmoke;
}
.my-families li:hover {
	color: #ec625f;
	cursor: pointer;
}

/* Members component */

.fs {
  display: flex;
  flex-direction: row;
}
.pad {
  padding-bottom: 20px;
}
.flex-space Button {
  background-color: #ec625f;
  color: white;
  border: none;
  font-family: Lekton;
  margin: 4px;
  width: 20%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.5rem;
}
.flex-space Button:hover {
  background-color: #414141;
  color: #ec625f;
}
.block-btn {
  margin: 0.5rem;
}
.block-btn Button {
  background-color: blue;
  width: 100%;
}
.remove-btn {
  margin: 0.5rem;
}
.remove-btn Button {
  background-color: #ec625f;
  width: 100%;
}

/* MostPopularFamilies component*/

.mp-families {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 20%;
	height: 100%;
	background-color: #414141;
	margin-top: 2rem;
	margin-right: 2rem;
	border-radius: 1rem;
}
.mp-families h3 {
	text-align: center;
	font-size: 1.5rem;
	color: whitesmoke;
	border-bottom: 0.2rem solid #ec625f;
	padding: 1rem;
}
.mp-families ul {
  list-style-type: upper-roman;
  font-size: 1rem;
}
.mp-families li {
	margin-bottom: 1rem;
	margin-left: 1rem;
	color: whitesmoke;
}
.mp-families span {
  font-size: 90%;
}
.mp-families p:hover {
	color: #ec625f;
	cursor: pointer;
}

/* Header Component*/
.header {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 10rem;
	background-color: #313131;
	border-bottom: 0.2rem solid #ec625f;
}

.footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: flex-end;
	justify-content: space-between;
	margin-top: auto;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 7vh;
	background-color: #505050;
	border-top: 0.2rem solid #ec625f;
}

.footer a {
  text-decoration: none;
}

.footer-left,
.footer-middle,
.footer-right {
  padding: 10px;
  margin: 0 auto;
}

.sign-in {
	display: flex;
	flex-direction: row;
	width: 33%;
	justify-content: flex-end;
	margin-right: 2rem;
}
.sign-in button {
  border: none;
  background-color: #ec625f;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 2rem;
  height: 3.3rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
.sign-in button:hover {
	background-color: #505050;
	color: #ec625f;
}
.logo {
	width: 33%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 2rem;
}
.logo img {
	height: auto;
	width: 50%;
}
/* Search bar Component*/
.search-bar-input {
	display: flex;
	flex-direction: row;
}
.search-container {
	display: flex;
	flex-direction: column;
}
.search-select {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.search-bar-input input {
	border: 0.2rem solid #ec625f;
	border-right: none;
	padding: 5px;
	height: 2.5rem;
	border-radius: 5px 0 0 5px;
	outline: none;
}
.search-bar-input button {
	width: 3rem;
	height: 2.5rem;
	border: 1px solid #ec625f;
	background: #ec625f;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}
.search-result {
  margin-left: 8vh;
}
.search-result h1 {
  margin-top: 2vh;
  margin-left: -3.5vh;
}
.select-type form {
	flex-grow: 1;
}
.radio-button {
	display: flex;
	flex-direction: row;
}

.radio-button label {
  color: white;
  padding: 10px;
  margin-right: 0.7vh;
  margin-left: 0.2vh;
  font-size: 80%;
  width: 70%;
}

.radio-button input {
	filter: grayscale(1);
	width: 65%;
}
.search-field {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.select-type p {
	margin-top: 8px;
	padding-left: 0.5vh;
	padding-right: 1.5vh;
	padding-top: 0.5vh;
	font-size: 80%;
	margin-right: 0.5rem;
}
.container {
  margin-top: 3.5vh;
}
.container ul {
  margin-bottom: 2.5vh;
}

/* DANIEL PROFILE INFORMATION DESIGN */
.profile-center{
 display:flex;
 justify-content: center;
 align-items: center;
}
.mobster-std-btn {
  border: none;
  background-color: #ec625f;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 190px !important;
}

.mobster-std-container {
  padding: 0.5rem 0 0.5rem 0;
}
.user-container {
  display: flex;
  flex-direction: row;
  width: 60%;
  
  
}
.to-right{
  display:flex;
  flex-direction: column;
  flex-grow: 1;
}
.to-left{
  display:flex;
  flex-direction: column;
  flex-grow: 1;
 
}

.user-details{
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;

}
.user-details h6{
 padding: 0.2rem;
}
.change-email{
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

}
.change-email input{
  height: 1.5rem;
  margin-bottom: 1.5rem;
}


/* Button styles */

.container Button {
  background-color: #ec625f;
  color: white;
  border: none;
  font-family: Lekton;
  margin: 4px;
  width: 15%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.5rem;
}
.container Button:hover {
  background-color: #414141;
  color: #ec625f;
}
