.about-container{
    background-color: #636363ea;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
}

.about-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.aboutme{
    color: red;
}

.single-card{
    width: 20rem;
    padding: 10px;
    margin: 10px auto;
    font-family: 'Courier New', Courier, monospace;
}
