.SingleThreadView {
	display: flex;
}

.main-container{
	flex-direction: column;
}

.thread-container {
	background-color: #414141;
	border-radius: 0;
	width: 100%;
	margin-top: 2rem;
	padding: 1rem;
}

.thread {
	display: flex;
	flex-direction: column;
	color: #fff;
}

.thread h2,
p {
	margin: 0.2rem;
}

.thread p {
	color: #fff;
}

.thread-metadata {
	align-self: flex-end;
}

.thread-metadata-bold{
	color: #ec625f;
}

.thread-btns {
	display: flex;
	justify-content: flex-end;
	align-items: center;
    border: none;
	height: 5vh;
	background-color: #ec625f;
}

.thread-btns Button {
	cursor: pointer;
}

.thread-btns Button:hover {
	background-color: #eb4a48;
}

.thread-reply {
	display: flex;
	flex-direction: row;
	margin-top: 2vh;
	justify-content: center;
	align-items: center;
}

.invisible {
	display: none;
}

.backtotop-button {
	display: flex;
	margin: 10px auto;
}


